<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Obrigado pela compra!</title>
  </head>
  <body>
    <h1> Obrigado </h1>
    <h2> Ola! </h2>
    <p> Obrigador por comprar de {{company}}</p>
    <p>Comprou o Produto:
      {{product}}
      quantidade:
      {{quantity}}
    </p>
    <h2>
      ID da fatura :
      {{saleId}}
    </h2>
  </body>
  <style>
    body{ margin: 0 auto; }
  </style>
</html>