<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Obrigado pela compra!</title>
  </head>
  <body>
    <h1> Ola! </h1>
    <h2>
      Aqui esta seu codigo de recuperacao:
      {{recover}}
    </h2>
    <h3> Caso nao tenha solicitado a mudanca, desconsidere </h3>
  </body>
  <style>
    body{ margin: 0 auto; }
  </style>
</html>